body {
  width: 80%;
  margin: 10px auto;
  font-family: sans-serif;
}

section {
  border: 2px solid gray;
  padding: 8px;
  margin: 7px 0;
}

.colors {
  margin: 15px -40px;
}

.colors li {
  display: inline-block;
  margin: 10px 2px;
  width: 30%;
  text-align: center;
}

#cool_blue {
  background-color: #2d5dcc;
  color: white;
  padding: 10px 0;
}

#pink {
  background-color: #d957d9;
  padding: 10px 0;
}

#mint_green {
  background-color: #4fe0b0;
  padding: 10px 0;
}

#beige {
  background-color: #efd9ca;
  padding: 10px 0;
}

.fonts li {
  list-style: none;
  margin: 20px 0px 20px -40px;
}

.fonts > li {
  display: inline-block;
  margin: 10px 60px 10px -40px;
  width: 45%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.scp {
  font-family: 'source code pro';
}

.ns {
  font-family: 'Nunito Sans';
}

.poppins {
  font-family: 'Poppins';
}

.font_name {
  text-decoration: underline;
  font-size: 20px;
}

#h1 {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Nunito Sans';
}

#h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins';
}


#p {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins';
}